html, body {
    margin: 0;
}

.box {
    width: 60px;
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* float: left; */
}

.box1 {
    background-color: #333;
    /* margin-left: 20px; */
}

.box2 {
    background-color: orange;
    /* margin-left: 50px; */
    /* margin-right: 1500px; */
}

.box3 {
    background-color: firebrick;
    /* margin-top: 20px; */
    /* margin: 10px; 4 hướng */
    /* margin: 10px 20px; trên dưới: 10px; phải trái: 20px; */
    /* margin: 10px 20px 30px; trên: 10px; phải trái: 20px; dưới: 30px; */
    /* margin: 10px 20px 30px 40px; trên 10px; phải: 20px; dưới: 30px; trái: 40px; */
    /* => Cùng giống tính chất đặt rút gọn với padding. */
} 